extends layout 

block content 
  .row.gap-3
    h1 All Jobs
    
    each job in jobs
      .card.px-0
        .card-header.d-flex.gap-3
            a(href='#') 
              h4= job.title
            .d-inline-flex
              p= job.address
            .text-muted.ms-auto
              p=job.dateCreated
        .row.g-0
          .col-md-4
            svg.d-block.user-select-none(xmlns='http://www.w3.org/2000/svg', width='100%', height='200', aria-label='Placeholder: Image cap', focusable='false', role='img', preserveaspectratio='xMidYMid slice', viewbox='0 0 318 180', style='font-size:1.125rem;text-anchor:middle')
              rect(width='100%', height='100%', fill='#868e96')
              text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body.col-md-6
            p.card-text=job.description
            p.card-text Hourly Rate: #{job.hourlyRate}
            p.card-text Weekly Hours: #{job.weeklyHours}
            .facilities.container
            each tag in job.tags
              span.badge.rounded-pill.bg-light.mx-1= tag  
          .card-body.container.col-md-2.text-center
            a.btn.btn-outline-primary.align-bottom(href='#') Quick Apply

    div
      ul.pagination
        li.page-item.disabled
          a.page-link(href='#') &laquo;
        li.page-item.active
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#') 4
        li.page-item
          a.page-link(href='#') 5
        li.page-item
          a.page-link(href='#') &raquo;

